<section id="registration">
  <div class="container">
    <h1>Register for a class</h1>
    <div id="response"></div>
      <%= form_tag('/mailchimp/subscribe', method: "post", id: "mailchimp", remote: "true") do -%>
      <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
      <%= telephone_field(:phone, :number, {id: "phone", placeholder: "phone number"}) %>
      <%= text_field(:company, :name, {id: "company", placeholder: "company name"}) %>
      <%= submit_tag "Register", id: 'registration-submit' %>
    <% end %>
  </div>
</section>