<% unless @course.tagline == "" %>
 <%= render "courses/headline"  %>
<% end %>

<% unless @course.description == "" %>
 <%=  render "courses/description"  %>
<% end %>

<% if @course.content_blocks %>
  <% @course.content_blocks.each do |block| %>
   <%= render "courses/content_block", block: block %>
  <% end %>
<% end %>

<% if @course.instructors %>
  <section id="instructors">
    <div class="container">
      <div class="v-spacer"></div>
      <h1>Meet Your Instructors:</h1>
      <% @course.instructors.each do |instructor|  %>
        <div class="instructor">
          <div class="card">
            <%= image_tag instructor.image_url(:display).to_s  %>
            <h4><%= instructor.name  %></h4>
            <p><%= instructor.bio  %></p>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
